.form-section {
  padding: 3rem 6rem;

  @media only screen and (max-width: 768px) {
    padding: 1.5rem;
  }

  @media only screen and (max-width: 640px) {
    padding: 1rem;
  }
}

.form-layout {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 48%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.submit-btn {
  display: flex;
  justify-content: end;
}
.btn {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #cc9601;
  color: white;
  border: #cc9601;
  cursor: pointer;
}

.map {
  width: 52%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
}

.name-field {
  width: 45%;

  @media only screen and (max-width: 640px) {
    width: 100%;
  }
}
