.landing-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing-image {
  object-fit: cover;
  object-position: bottom;
  height: 80vh;

  @media only screen and (max-width: 768px) {
    height: 65vh;
  }
}

.landing-details {
  padding: 3rem 6rem;

  @media only screen and (max-width: 768px) {
    padding: 1.5rem;
  }

  .landing-details__header {
    width: 50%;

    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    @media only screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
